[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/gli"]
	path = External/gli
	url = https://github.com/g-truc/gli
[submodule "External/mini-yaml"]
	path = External/mini-yaml
	url = https://github.com/jimmiebergmann/mini-yaml
