[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/gli"]
	path = External/gli
	url = https://github.com/g-truc/gli
[submodule "External/SimpleIni"]
	path = External/SimpleIni
	url = https://github.com/brofield/simpleini.git
